{% extends './layout.html' %}


{% block div %}
	<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>



	<!-- Modal -->
	{% if first == True %}
		<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	{% else %}
		<div id="myModal" class="modal fade" role="dialog">
	{% endif %}
	
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	      	{% if first == True %}
	        <h4 class="modal-title">Bienvenido a Log Analyzer</h4>
	       	{% else %}
	       		<h4 class="modal-title">Agregar nuevo servidor</h4>
 				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
	        {% endif %}
	      </div>

	      <div class="modal-body">
	      	{% if first == True %}
	        	<p>Como es primera vez que ingresas , debes llenar los siguientes datos!</p>
	        {% else %}
	        	<p>Debes llenar los siguientes datos!</p>
	      	{% endif %}
			<form action="{{ url_for('home.addDomain') }}" method="POST">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Dominio del servidor</label>
			    <input type="text" class="form-control"  name="hostname" placeholder="hostname.com" required>
			    
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Usuario para SSH</label>
			    <input type="text" class="form-control" name="user" placeholder="root" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Contraseña SSH</label>
			    <input type="password" class="form-control" name="password" placeholder="Ingresa tu clave" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">IP Maquina (Publica) </label>
			    <input type="text" class="form-control" name="ip" placeholder="10.10.1.1" required>
			  </div>
			  <div id="alerta">
			  	
			  </div>
			  <button type="submit" id="submit" class="btn btn-success float-right" disabled>Guardar</button>

			</form>
			  <button onclick="test()" id="test" class="btn btn-danger float-right mr-2"> Prueba de conexion</button>
	      </div>

	    </div>

	  </div>
	</div>

	<script type="text/javascript">
		
		var first = '{{ first}}'
		
		if(first == 'True'){
			$("#myModal").modal("show");
			$("#alerta").html()
		}
	</script>	

	<div class="row" style="height: 1000px;">

		<div class="col-12">

			<div class="row">

				<div class="col-6">
					
					<div class="card" style="width: 100%;">
		  				<div class="card-body">
		    				<h6 class="card-subtitle mb-2 text-muted">Servidores Actuales </h6>
		    				<p class="card-text text-center display-4">{{count['cantidad']}}</p>
		  				</div>
					</div>

				</div>

				<div class="col-6">
					
					<div class="card" style="width: 100%;">
		  				<div class="card-body">
		    				<h6 class="card-subtitle mb-2 text-muted">Ultima actualizacion </h6>
		    				<p class="card-text text-center display-4">{{count['update']}}</p>
		  				</div>
					</div>

				</div>

				
			</div>

			<div class="col-12 mt-5">
				<button onclick="addDomain()" class="btn btn-primary" >Agregar Servidor</button>
				<button id="reload" onclick="updateAll()" class="btn btn-primary">Actualizar Datos</button>
			</div>
			<div class="col-12 mt-5">
				<div id="alerta_datos">
					
				</div>
			</div>
			<div class="col-12 mt-5">
				
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Dominio</th>
				      <th scope="col">IP</th>
				      <th scope="col">Ultima actualizacion</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for i in range( data| length) %}
				  		
				  		<tr onclick="redirigir({{i}})" class="hosts">
				  			<th scope="row"> {{i+1}} </th>
			
				  			<td id="hostname"> {{data[i]['Hostname']}}</td>
				  			<td id="ip"> {{data[i]['IP']}}</td>
				  			<td> {{data[i]['Update']}}</td>
				  		</tr>
				  	{% endfor %}
				  </tbody>
				</table>
			</div>


		</div>


	</div>
{% endblock %}