{% extends './layout.html' %}


{% block div %}
	<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
	<!-- Modal -->
	{% if first == True %}
		<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	{% else %}
		<div id="myModal" class="modal fade" role="dialog">
	{% endif %}
	
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	      	{% if first == True %}
	        <h4 class="modal-title">Bienvenido a Log Analyzer</h4>
	       	{% else %}
	       		<h4 class="modal-title">Agregar nuevo servidor</h4>
 				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
	        {% endif %}
	      </div>

	      <div class="modal-body">
	      	{% if first == True %}
	        	<p>Como es primera vez que ingresas , debes llenar los siguientes datos!</p>
	        {% else %}
	        	<p>Debes llenar los siguientes datos!</p>
	      	{% endif %}
			<form action="{{ url_for('home.addDomain') }}" method="POST">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Dominio del servidor</label>
			    <input type="text" class="form-control"  name="hostname" placeholder="hostname.com" required>
			    
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Usuario para SSH</label>
			    <input type="text" class="form-control" name="user" placeholder="root" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Contraseña SSH</label>
			    <input type="password" class="form-control" name="password" placeholder="Ingresa tu clave" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">IP Maquina (Publica) </label>
			    <input type="text" class="form-control" name="ip" placeholder="10.10.1.1" required>
			  </div>
			  <div id="alerta">
			  	
			  </div>
			  <button type="submit" id="submit" class="btn btn-success float-right" disabled>Guardar</button>

			</form>
			  <button onclick="test()" id="test" class="btn btn-danger float-right mr-2"> Prueba de conexion</button>
	      </div>

	    </div>

	  </div>
	</div>

	<script type="text/javascript">
		
		var first = '{{ first}}'
		
		if(first == 'True'){
			$("#myModal").modal("show");
			$("#alerta").html()
		}
	</script>	

	<div class="row" style="height: 1000px;">

		<div class="col-12">

			<div class="row">

				<div class="col-sm-6 col-12">
					<div class="card" style="width: 100%;">
		  				<div class="card-body">
		    				<h6 class="card-subtitle mb-2 text-muted">Servidores Actuales</h6>
		    				<p class="card-text text-center display-4">{{count}}</p>
		  				</div>
					</div>

				</div>

				<div class="col-sm-6 col-12">
					
					<div class="card" style="width: 100%;">
		  				<div class="card-body">
		    				<h6 class="card-subtitle mb-2 text-muted">Ultima actualizacion</h6>
		    				<p class="card-text text-center display-4">{{data[0]['fecha_act']}}</p>
		  				</div>
					</div>

				</div>

				
			</div>

			<div class="col-12 mt-5">
				<button onclick="addDomain()" class="btn btn-primary" >Agregar Servidor</button>
				<button id="reload" onclick="updateAll()" class="btn btn-primary">Descargar Datos</button>
			</div>
			<div class="col-12 mt-5">
				<div id="alerta_datos">
					
				</div>
			</div>
			<div class="col-12 mt-5">
				
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Dominio</th>
				      <th scope="col">IP</th>
				      <th scope="col">Ultima actualizacion</th>
				      <th scope="col"> <th>

				    </tr>
				  </thead>
				  <tbody>
				  	{% for i in range( data| length) %}
				  		
				  		<tr  class="hosts">
				  			<th onclick="redirigir({{i}})" scope="row"> {{i+1}} </th>
			
				  			<td onclick="redirigir({{i}})" id="hostname"> {{data[i]['hostname']}}</td>
				  			<td onclick="redirigir({{i}})" id="ip"> {{data[i]['ip']}}</td>
				  			<td onclick="redirigir({{i}})" > {{data[i]['fecha_act']}}</td>
				  		
				  			<td>

				  				<div class="btn-group" role="group" >
  									<button type="button" class="btn btn-success">Modificar</button>
  									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#mConfirm" onclick="borrar('{{ data[i]['hostname'] }}')" >Eliminar</button>
								</div>

				  			<td>
				  			
				  		</tr>
				  	{% endfor %}

				  </tbody>
				</table>
			</div>


		</div>

		<!--- Modal de alerta ---->
		<div class="modal fade" id="mConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ¿Estas seguro de eliminar este elemento?
		      </div>
		      <div class="modal-footer" id="">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="button" id="btn_confirm" class="btn btn-primary" onclick="borrar()">Si estoy seguro!</button>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
{% endblock %}