{% extends './layout.html' %}


{% block div %}
	<script type="text/javascript"  src="{{url_for('static',filename='js/send_mail.js')}}"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
	<style type="text/css">
		.ck-editor__editable:not(.ck-editor__nested-editable) { 
    		min-height: 25vw;
		}
	</style>


	<!--- Modal alerta --->
	{% if first == True %}
		<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	{% else %}
		<div id="myModal" class="modal fade" role="dialog">
	{% endif %}
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	       		<h4 class="modal-title">Agregar nuevo "Sender" </h4>

	       		{% if first == False %}
 				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		{% endif %}
	      </div>

	      <div class="modal-body">
	        	<p>Debes llenar los siguientes datos!</p>

	        	
			<form action="{{ url_for('addSMTP') }}" method="POST">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Dominio del servidor</label>
			    <input type="text" class="form-control"  name="hostname" id="smtp" placeholder="smtp.example.com" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Desde : </label>
			    <input type="text" class="form-control"  name="from" id="from" placeholder="User <user@example.com>" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Usuario</label>
			    <input type="text" class="form-control" name="user" id="user" placeholder="user@example.com" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Contraseña</label>
			    <input type="password" class="form-control" name="password" id="password" placeholder="Ingresa tu clave" required>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Correo de prueba (Opcional) </label>
			    <input type="email" class="form-control" name="test_mail" id="test_mail" placeholder="example@hotmail.com">
			  </div>
			  <div id="alerta_2">
			  	
			  </div>
			  <button type="submit" id="save"  class="btn btn-success float-right" >Guardar</button>

			</form>
			  <button id="test" class="btn btn-danger float-right mr-2"> Correo de prueba</button>
	      </div>

	    </div>

	  </div>
	</div>
	{% if first == True %}
	<script type="text/javascript">
		$("#myModal").modal("show");
	</script>
	{% endif %}


	<!--- Contenido principal --->
	<div class="row">
		<div class="col-12">

			<form id="form-mail" method="POST">
			  <div class="form-group row">
			  	<div class="col-2">
			  		<label >Servidor de envio:</label>	
			  	</div>
			    
			   	<div class="col">
			   		<select>
			   			{% for i in range( data | length) %}
			   			<option>{{data[i]['hostname']}}</option>
			   			{% endfor %}
			   		</select>
			   	</div>
			    
			  </div>
			  <div class="form-group row">
			  	<div class="col-1">
			  		<label >Desde:</label>	
			  	</div>
			    
			   	<div class="col">
			   		<input type="email" id="from" class="form-control" name="password" placeholder="Contacto <contacto@example.cl>" value="{{data[0]['from']}}" required>
			   	</div>
			    
			  </div>
			  <div class="form-group row">
			  	<div class="col-1">
			  		<label >Destinatarios:</label>	
			  	</div>
			    
			   	<div class="col">
			   		<input type="email" id="to" class="form-control" name="password" placeholder="user@example.cl"  required>
			   	</div>
			    
			  </div>
			  <div class="form-group row">
			  	<div class="col-1">
			  		<label for="exampleInputPassword1">Asunto:</label>
			  	</div>
			    
			    <div class="col">
			    	<input type="text" id="asunto" class="form-control" name="ip" placeholder="Inserta asunto" required>
			    </div>
			  </div>
			  <div class="form-group">
			  	<div id="alerta">
			  		
			  	</div>
			  </div>
			  <div class="form-group">
			  	<div id="editor">
			  		
			  	</div>

			  </div>
			</form>
			<button  id="submit" class="btn btn-success float-right">Enviar</button>
		</div>
	</div>

{% endblock %}